div.freeze {
	opacity:    0.7; 
	background: rgb(49, 51, 53); 
	width:      100%;
	height:     100%; 
	z-index:    999998;
	top:        0; 
	left:       0; 
	position:   fixed;
	/*pointer-events: none;*/
}
div#aspk_login_box{
	margin: auto;
	width: 415px;
	z-index: 999999;
	position: relative;
	left: -50%;
	top: 140px;
	visibility: visible;
	background-color: #8b8989;
	opacity: 0.8;
}
.aspk_span_filed {
	max-width: 336px;
	width:23em;
	text-align: center;
	color: #b1b1b1;
	font-family: 'FuturaStdMedium';
	font-size: 14px;
	letter-spacing: 2px;
	margin: 0 0 7px;
	line-height: 1.45em;
	padding: 0.582em 1em;
	min-height: 39px;
	vertical-align: middle;
}
.email_confrm_message{
	background: #f4fcee;
	border: 2px solid #91e458;
	clear:both;
	padding:2em;
}
.aspk_newsletter_submit {
	width: 100%;
	max-width: 166px;
	width:7em !important;
	padding: 0.18em 0.5em !important;
	line-height: 1.7em;
	background: #b1b1b1 !important;
	font-family: 'FuturaStdBold';
	text-transform: uppercase;
	font-size: 18px;
	color: #ffffff;
	letter-spacing: 2px;
	border: none !important;
	min-height: 39px;
	margin-top:10px;
	margin-bottom:10px;
}